* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


body {
    padding: 50px;
}

fieldset {
    border-radius: 5px;
    /* to give it curved edges */
}

legend {
    font-size: 20pt;
    font-weight: bold;
    padding: 8px;
}


div {
    padding-bottom: 10px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 7px;
    border-radius: 5px;
    border: #007bff;
    width: 400px;
    cursor: pointer;
}

button:hover {
    border: 5px solid #007bff;
    background-color: white;
    color: #007bff;
}

input {
    border-radius: 5px;
    border: 1px solid lightgrey;
    width: 400px;
    font-size: 10pt;
}

h2 {
    font-size: xx-large;
}